<h1>Github Issues</h1>
<div class="my-5 border-b-2 border-blue-700"></div>
<section class="grid grid-cols-1 sm:grid-cols-3 gap-2">
  <div class="flex flex-col col-span-3">
    <div class="flex gap-2">
      <button class="btn active">All</button>
      <button class="btn">Open</button>
      <button class="btn">Closed</button>
    </div>
  </div>

  <div class="mt-4 flex flex-col col-span-2">
    @if (issuesQuery.isLoading()) {
    <p>Loading...</p>
    } @else if (issuesQuery.isError()) {
    <p>Error: {{ issuesQuery.error() }}</p>
    } @else {
    <ul class="flex flex-col gap-2">
      @for (issue of issuesQuery.data() ?? []; track issue.number) {
      <issue-item [issue]="issue" />
      } @empty {
      <p>No issues to list</p>
      }
    </ul>
    }
  </div>
  <div class="mt-4">
    @if (labelsQuery.isLoading()) {
    <p>Loading...</p>
    } @else if (labelsQuery.isError()) {
    <p>Error: {{ labelsQuery.error() }}</p>
    } @else {
    <issues-labels-selector [labels]="labelsQuery.data() ?? []" />
    }

  </div>
</section>
